/* body用 */
.graybody{
    background-color: #fafafa;
    height: 100vh;
    width: 100%;
}

.bgcwhite{
    background-color: #fff;
}


/* sectionタイトル */
.section-ttl{
    font-size: 22px;
    width: 200px;
    border-bottom: 3px solid #311ff7;
    padding: 5px 0;
}


/* 知識投稿＝＝＝＝＝＝＝＝＝＝ */
/* create page */
.create-section{
    margin-left: 15%;
    margin-right: 25%;
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
}
#post-content{
    font-size: 16px;
    margin-left: 20px;
}
.postbox{
    height: 200px;
}
#postcreate-form{
    margin-left: 20px;
}
.post-btn-box{
    width: 75%;
    display: flex;
    justify-content: flex-end;
}
#img_icon{
    width: 40px;
}
#file_up > input{
    display: none;
}
#file_up{
    margin-left: 10px;
    color: #0059ff;
}