/* body用 */
.graybody{
    background-color: #fafafa;
    min-height: 100vh;
    width: 100%;
    padding: 1px;
}

.bgcwhite{
    background-color: #fff;
    padding: 1px 1px 20px 1px;
}
p{
    margin-bottom: 0;
}
button {
    /* 背景色を無色に */
    background: transparent;
    /* 枠線を消す */
    border: none;
    /* クリックした際に枠線をnone消す */
    outline: none;
    /* 影を消す */
    box-shadow: none;
}


/* sectionタイトル */
.section-ttl{
    font-size: 22px;
    width: 200px;
    border-bottom: 3px solid #311ff7;
    padding: 5px 0;
}


/* 知識投稿＝＝＝＝＝＝＝＝＝＝ */
/* create page */
.create-section{
    margin-left: 15%;
    margin-right: 25%;
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
}
#post-content{
    font-size: 16px;
    margin-left: 20px;
}
.postbox{
    height: 200px;
}
#postcreate-form{
    margin-left: 20px;
}
.post-btn-box{
    width: 75%;
    display: flex;
    justify-content: flex-end;
}
#img_icon{
    width: 40px;
}
#file_up > input{
    display: none;
}
#file_up{
    margin-left: 10px;
    color: #0059ff;
}

/* index page */
.rank-list-box{
    margin-top: 30px;
}
.rank-list{
    padding-left: 0;
}
.rank-list > li{
    list-style: none;
}
.select-btn{
    padding: 10px;
    border-radius: 45%;
    background-color: #ff6f6f;
    width: 90px;
    height: 50px;
}
.select-btn > a{
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
}
.nonselect-btn{
    padding: 10px;
    border-radius: 45%;
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    width: 90px;
    height: 50px;
}
.nonselect-btn > a{
    text-decoration: none;
    color: #888888;
    vertical-align: middle;
}
.rank-table{
    margin: 0 50px;
    border-collapse: separate;
    border-spacing: 15px;
}
.rank-table > th,
.rank-table > td{
    padding: 10px;
}
.rank-table > tr:first-child{
    padding-bottom: 20px;
}
#ranktbl-usr{
    text-align: left;
    width: 90%;
    vertical-align: middle;
}
#nice_icon{
    width: 15px;
    height: 25px;
    margin-right: 2px;
}
#rank{
    font-size: 20px;
    margin-top: 5px;
}
#user-name{
    margin-bottom: 0;
}
.user-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;
}
.post-inf{
    font-size: 18px;
    margin-top: 5px;
    color: #656565;
}
.post-sec{
    margin: 10px;
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid #dddddd;
}
#post-category{
    font-size: 15px;
    color: #b7b7b7;
    margin-bottom: 5px;
}
#post-ttl{
    text-decoration: none;
}
/* show-page */
.showuser-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;
}
#showuser-name{
    margin: 5px 0;
    font-size: 18px;
}
#name-res{
    font-size: 14px;
    color: #888888;
}
#show-posttime{
    color: #b5b5b5;
}
#postcontent{
    margin-left: 30px;
    margin-top: 10px;
}
.imgbox{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}
.postimg{
    width: 25%;
    margin-left: 50px;
}
.postimg img{
    width: 100%;
}

.stamp-box{
    margin: 40px 0;
    padding: 0 40px;
    border-right: 1px solid #a5a5a5;
}
.stamp-chara{
    margin-left: 5px;
    font-size: 18px;
}
